@model Ecommerce.Entities.Religious
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content">
    <div class="body_scroll">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Form Validation</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i> Aero</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Forms</a></li>
                        <li class="breadcrumb-item active">Form Validation</li>
                    </ul>
                    <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button"><i class="zmdi zmdi-arrow-right"></i></button>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <!-- Basic Validation -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="body">
                            <form id="AddReligiousForm" method="POST" action="@Url.Action("AddReligious","Religious")">
                                <div class="form-group form-float">
                                    <input type="text" class="form-control" placeholder="Religious Name" name="ReligiousName" required>
                                </div>
                                <button id="ReligiousAddBtn" class="btn btn-raised btn-primary waves-effect" type="button">SUBMIT</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="imageTemplate" style="display:none">
    <img class='image img-thumbnail' src='' style="height:100px; width:100px" />
</div>
<script>
    $('#ReligiousAddBtn').click(function () {
        debugger;
         $.ajax({
         url: "@Url.Action("AddReligious", "Religious")",
         type: "post",
             data: $("#AddReligiousForm").serialize()
     }).done(function (responses) {
         debugger;
         alert("Religious Save Succesfully");
         window.location.href = "@Url.Action("Index", "Religious")";
     }).fail(function () {

     });
    });
</script>