
@{
    ViewBag.Title = "CheckoutConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CheckoutConfirmation</h2>

<div class="text-center">
    <h1 class="display-4"> @ViewBag.SuccessInfo</h1>
</div>
